/* General Formating */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header and Navigation Bar */

header {
    background-color: wheat;
}

h1, a {
    color: brown;
    margin: 5px;
    padding: 5px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
    align-items: center;
    list-style: none;
    font-size: 25px;
  }

/* Search and Display Cards for NFL and MLB */

img {
    display: block;
    margin: 0 auto;
    align-items: center;
}