header {
    display: flex;
    padding: 10px 10px 0 10px;
    background-color: darkblue;
}
h1 {
    display: flex;
    color: darkblue;
    background-color: darkred;
    padding: 10px 10px 0 10px;
}