/* General Formating */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-around
    
}

/* Header and Navigation Bar */

header {
    background-color: wheat;
    text-shadow: 2px 2px #0000
}

h1, a {
    color: red;
    margin: 5px;
    padding: 5px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content:right;
    align-items: center;
    list-style: none;
    font-size: 25px;

  }

/* Search and Display Cards for NFL and MLB */

label {
    font-size: 20px;
}
img {
    display: block;
    margin: 0 auto;
    align-items: center;
}

#footer-box {
    align-items: baseline  ;
    color: red;
    background-color: wheat;
    text-shadow: 2px 2px #0000
}

#list {
    list-style: none;
}
h6 {
    font-weight: bold;
}

